@{
    ViewData["Title"] = "Api Test Page";
}
<h1>@ViewData["Title"]</h1>

<p>Links to test API End Points</p>

<p>
    <a href="/PeskyBugValues/GetAllBugs" target="_blank">All Bugs</a>
</p>
<p>
    <a href="/PeskyBugValues/GetAllOpenBugs" target="_blank">All Open Bugs</a>
</p>
<p>
    <a href="/PeskyBugValues/GetBug/A248FEA8-E67E-4F89-B8E7-4A3834D506E9" target="_blank">A Bug</a>
</p>